body {
    font-family: Arial;
    background-color: #727171;
    color: #000000;
    border: 0;
}
    header { 
    max-width: 960px;
    max-height: 480px;
     margin-top: 100px;
    margin-left: 450px;

    display: flex;
    justify-content: center ; 
    align-items: center ; 
    padding: 1rem 1rem;
     background-color: rgb(255, 255, 255);
}


    h2 { 
        max-width: 960px;
        max-height: 480px;
        margin-top: 100px;
        margin-left: 452px;

        display: flex;
        justify-content: center ; 
        align-items: center ; 
        padding: 1rem 1rem;
        background-color: rgb(255, 255, 255);
}



    li { 
        max-width: 960px;
        max-height: 480px;
        margin-top: 100px;
        margin-left: 452px;

        display: flex;
        justify-content: center ; 
        align-items: center ; 
        padding: 1rem 1rem;
        background-color: rgb(255, 255, 255);
}



    ul {
        max-width: 480px;
        max-height: 480px;
        margin-top: 100px;
        margin-left: 690px;

        display: flex;
        justify-content: center ; 
        align-items: center ; 
        padding: 1rem 1rem;
        background-color: rgb(255, 255, 255);
    }

    footer {
        max-width: 480px;
        max-height: 480px;
        margin-top: 100px;
        margin-left: 930px;


    }








    body .false {
        background-color: #ff0000;
  color: #ecf0f1;
    }

    body .true {
        background-color: #33ff00;
  color: #00ff00;
    }
    
    body.true {
background-color: #00ff0d;
    body.true a {
color: #00ff15;
}}